<div class="panel panel-default sharings">
  <div class="panel-heading">
    <h3>Shared with groups ({{model.sharings.length}})</h3>
  </div>
  {{#unless groups}}
    <div class="panel-body">
      <p>
        You currently have no group to share this document with.
        {{link-to "Create one?" 'groups.new'}}
      </p>
    </div>
  {{/unless}}
  <ul class="list-group">
    {{#each sharedGroups key='' as |group|}}
      <li class="list-group-item">
        {{#if isEditing }}
          <label>
            <input class="" type="checkbox"  checked="true" {{action "destroySharing" group}} />
            {{group.name}}
          </label>
        {{else}}
          {{link-to group.name 'groups.show' group}}
        {{/if}}
      </li>
    {{/each}}
  </ul>
  {{#if isEditing }}
    <ul class="list-group">
      {{#each availableGroups key='id' as |group|}}
        <li class="list-group-item">
          <label>
            <input class="" type="checkbox"  {{action "addSharing" group}} />
            {{group.name}}
          </label>
        </li>
      {{/each}}
    </ul>
  {{/if}}
  {{#if groups}}
    <div class="panel-footer">
      {{#if isEditing}}
        <button class="btn btn-default" {{action "doneEditingSharings"}}>
          Done
        </button>
      {{else}}
        {{#if session.currentUser.canCreateSharing }}
          <button class="btn btn-primary" {{action "editSharings"}} title="(Un)share with groups" data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
</div>
