<form {{action "save" on="submit"}}>
  <div class="form-group {{if model.errors.name 'has-error' 'has-no-error'}}">
    <label class="control-label">
      Name
      {{input
        value=model.name
        classNames="form-control document-form-name"
        placeholder="Enter a title for your document"
        size='50'
      }}
    </label>
    {{form-errors model=model attribute='name'}}
  </div>
  <div class="form-group {{if model.errors.category 'has-error' 'has-no-error'}}">
    <label class="control-label">
      Category
      {{select-2
        content=categories
        value=model.category
        optionLabelPath="name"
        placeholder="Select a category"
        allowClear=true
      }}
    </label>
    {{form-errors model=model attribute='category'}}
  </div>
  <input type="submit" value="Save" class="btn btn-success">
  <button {{action "cancel"}} class="btn btn-default">cancel</button>
</form>
