<div class="col-md-6">
  <h3>
    {{gravatar-image
      email=model.email
      alt=model.name
      size=50
      defaultImage='identicon'
      class='img-circle'
      secure=false
      title=model.name
    }}
    You!
    <small>
      ({{model.name}}, {{model.email}})
      <div class="btn-group" role="group" aria-label="...">
        {{#if model.updatable }}
          {{#link-to 'users.edit' model classNames='btn btn-primary' title="Edit this user" data-toggle="tooltip" data-placement="top"}}
            <span class="glyphicon glyphicon-edit"></span>
          {{/link-to}}
        {{/if}}
        {{#if model.destroyable }}
          <a href="#" {{action "delete" model}} class="btn btn-danger" title="Destroy this user" data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        {{/if}}
      </div>
    </small>
  </h3>
  <ul>
    <li>
      {{#if model.memberships}}
        You are member of {{link-to model.memberships.length "groups"}} groups.
      {{else}}
        You're not member of any groups yet.
        {{#if model.canCreateGroup}}
          {{link-to "Create a group" "groups.new"}}
        {{/if}}
      {{/if}}
    </li>
    <li>
      {{#if model.documents}}
        You have created  {{link-to model.documents.length "documents"}} documents.
      {{else}}
        You haven't created any document yet.
        {{#if model.canCreateDocument}}
          {{link-to "Create a document" "documents.new"}}
        {{/if}}
      {{/if}}
    </li>
  </ul>
</div>
<div class="col-md-6">
  <div class="row">
    <div class="col-md-12">
      <h3>Pending invitations ({{#if model.pendingInvitations}}{{model.pendingInvitations.length}}{{else}}0{{/if}})</h3>
      <ul class='list-group'>
        {{#if model.pendingInvitationsAsInvited}}
          {{#each invitation in model.pendingInvitationsAsInvited }}
            <li class="list-group-item clearfix">
              {{#if invitation.state}}
                {{invitation.state}}
              {{else}}
                pending
              {{/if}}:
              {{invitation.inviterName}} invited you to group “{{invitation.groupName}}”
              <div class="btn-group pull-right" role="group" aria-label="...">
                {{#if invitation.updatable }}
                  <a href="#" {{action "acceptInvitation" invitation}} class="btn btn-success btn-sm" title="Accept this invitation" data-toggle="tooltip" data-placement="top">
                    <span class="glyphicon glyphicon-ok"></span>
                    Accept
                  </a>
                  <a href="#" {{action "declineInvitation" invitation}} class="btn btn-danger btn-sm" title="Decline this invitation" data-toggle="tooltip" data-placement="top">
                    <span class="glyphicon glyphicon-remove"></span>
                    Decline
                  </a>
                {{/if}}
                {{#if invitation.destroyable }}
                  <a href="#" {{action "deleteInvitation" invitation}} class="btn btn-danger btn-sm" title="Destroy this invitation" data-toggle="tooltip" data-placement="top">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                {{/if}}
              </div>
            </li>
          {{/each}}
        {{/if}}
        {{#if model.pendingInvitationsAsInviter}}
          {{#each invitation in model.pendingInvitationsAsInviter }}
            <li class="list-group-item clearfix">
              {{#if invitation.state}}
                {{invitation.state}}
              {{else}}
                pending
              {{/if}}:
              You have invited
              {{#if invitation.invited}}
                {{invitation.invited.name}}
              {{else}}
                {{invitation.email}}
              {{/if}}
              to group {{link-to invitation.group.name 'groups.show' invitation.group}}
              <div class="btn-group pull-right" role="group" aria-label="...">
                {{#if invitation.destroyable }}
                  <a href="#" {{action "deleteInvitation" invitation}} class="btn btn-danger btn-sm" title="Destroy this invitation" data-toggle="tooltip" data-placement="top">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancel
                  </a>
                {{/if}}
              </div>
            </li>
          {{/each}}
        {{/if}}
      </ul>
    </div>
    <div class="col-md-12">
      <h3>Past invitations ({{model.pastInvitationsCount}})</h3>
      <ul class='list-group'>
        {{#each invitation in model.pastInvitationsAsInviter }}
          <li class="list-group-item clearfix">
            {{invitation.state}}: You have invited
            {{#if invitation.invited}}
              {{invitation.invited.name}}
            {{else}}
              {{invitation.email}}
            {{/if}}
            to group {{link-to invitation.group.name 'groups.show' invitation.group}}
            <span class='small'>
              {{#if invitation.state}}
                ({{invitation.state}}: on {{formatted-date invitation.stateAt 'YYYY-MM-DD'}})
              {{/if}}
            </span>
            {{#if invitation.destroyable }}
              <a href="#" {{action "deleteInvitation" invitation}} class="btn btn-danger btn-sm pull-right" title="Destroy this invitation" data-toggle="tooltip" data-placement="top">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            {{/if}}
          </li>
        {{/each}}
        {{#each invitation in model.pastInvitationsAsInvited }}
          <li class="list-group-item clearfix">
            {{invitation.state}}: You have been invited
            {{#if invitation.inviter}}
              {{invitation.inviter.name}}
            {{/if}}
            to group {{link-to invitation.group.name 'groups.show' invitation.group}}
            <span class='small'>
              {{#if invitation.state}}
                ({{invitation.state}}: on {{formatted-date invitation.stateAt 'YYYY-MM-DD'}})
              {{/if}}
            </span>
            {{#if invitation.destroyable }}
              <a href="#" {{action "deleteInvitation" invitation}} class="btn btn-danger btn-sm pull-right" title="Destroy this invitation" data-toggle="tooltip" data-placement="top">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
