<form {{action "save" on="submit"}}>
  <div class="form-group {{if model.errors.name 'has-error' 'has-no-error'}}">
    <label>
      Name
      {{input value=model.name classNames='form-control'}}
    </label>
    {{form-errors model=model attribute='name'}}
  </div>
  <input type="submit" value="Save" class="btn btn-success">
  <button {{action "cancel"}} class="btn btn-default">cancel</button>
</form>
