<div class='row'>
  <div class="col-md-8">
    <h2>
      Group '{{model.name}}'
      <small>
        <div class="btn-group" role="group" aria-label="...">
          {{#if model.updatable}}
            {{#link-to 'groups.edit' model classNames='btn btn-primary' title="Edit this group" data-toggle="tooltip" data-placement="top"}}
              <span class="glyphicon glyphicon-edit"></span>
            {{/link-to}}
          {{/if}}
          {{#if model.destroyable}}
            <a href="#" {{action "delete" model}} class="btn btn-danger" title="Destroy this group" data-toggle="tooltip" data-placement="top">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          {{/if}}
          {{#if model.updatable}}
            {{#link-to 'groups.show.invitations.new' model classNames='btn btn-primary' title="Invite a user to this group" data-toggle="tooltip" data-placement="top"}}
              <span class="glyphicon glyphicon-plus"></span>
              <span class="glyphicon glyphicon-user"></span>
            {{/link-to}}
          {{/if}}
        </div>
      </small>
    </h2>
    {{outlet}}
  </div>
  <div class="col-md-4">
    {{#if model.memberships}}
      <div class="panel panel-default group-memberships">
        <div class="panel-heading">
          <h2>Group members ({{model.memberships.length}})</h2>
        </div>
        <ul class="list-group">
          {{#each model.memberships key='@guid' as |membership|}}
            <li class="list-group-item clearfix">
              {{link-to membership.user.name "users.show" membership.user}} ({{membership.role}})
              <div class="btn-group pull-right" role="group" aria-label="...">
                {{#if membership.updatable}}
                  {{#link-to 'memberships.edit' membership classNames='btn btn-primary btn-sm membership-update ' title="Edit this membership" data-toggle="tooltip" data-placement="top"}}
                    <span class="glyphicon glyphicon-edit"></span>
                  {{/link-to}}
                {{/if}}
                {{#if membership.destroyable}}
                  <a href="#" {{action "deleteMembership" membership}} class="btn btn-danger btn-sm membership-destroy" title="Destroy this membership" data-toggle="tooltip" data-placement="top">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                {{/if}}
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    {{else}}
      <p>
        No memberships yet.
      </p>
    {{/if}}
  </div>
</div>
