<div class="col-md-12">
  <h3>
    New version
<!--     {{#if model.name}}
      '{{model.name}}'
    {{/if}}
    {{#if model.document.name}}
      for document
      '{{model.document.name}}'
    {{/if}} -->
  </h3>
</div>
<!-- <div class="col-md-6">
  {{partial 'documents/show/versions/form'}}
</div>
<div class="col-md-6 document-html version-preview-paper">
  <h1>{{model.document.name}}</h1>
  {{markdown-to-html markdown=model.contentMd}}
</div> -->
