<form {{action "save" on="submit"}}>
  <div class="form-group {{if model.errors.role 'has-error' 'has-no-error'}}">
    <label>
      Role
      {{view "select" content=roles value=model.role classNames="form-control document-form-role"}}
      {{form-errors model=model attribute='role'}}
    </label>
  </div>
  <div class="form-group {{if model.errors.group 'has-error' 'has-no-error'}}">
    <label>
      Group
      {{select-2
        content=groups
        value=model.group
        optionLabelPath="name"
        placeholder="Select a group"
        allowClear=true
      }}
      {{form-errors model=model attribute='group'}}
    </label>
  </div>
  <div class="form-group {{if model.errors.user 'has-error' 'has-no-error'}}">
    <label>
      User
      {{select-2
        content=users
        value=model.user
        optionLabelPath="name"
        placeholder="Select a user"
        allowClear=true
      }}
      {{form-errors model=model attribute='user'}}
    </label>
  </div>
  <input type="submit" value="Save" class="btn btn-success">
  <button {{action "cancel"}} class="btn btn-default">cancel</button>
</form>
