<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-3 col-lg-offset-4">
    <h1 id="title">{{pageTitle}}</h1>
    <form role="form" {{action "reset_password" on="submit"}}>
      <div class="form-group {{if errors.email 'has-error' 'has-no-error'}}">
        {{input id='email' type="email" class="form-control" placeholder='Email' value=email autofocus='true'}}
        {{#if errors.email.length}}
          {{#each error in errors.email}}
            <p class="text-danger">Email {{error}}</p>
          {{/each}}
        {{/if}}
      </div>
      <button class="btn btn-default" type="submit">Send me reset password instructions</button>
      or
      <a href='#' {{action "cancel"}}>Cancel</a>
    </form>
  </div>
</div>
